body {
    font-family: 'Nunito Sans', sans-serif;
    max-width: 1200px;
    margin: auto;
}

#colors {
    border: 2px solid #000000;
    padding: 0 10px;
}

div { 
    width: auto;
}
.colors-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container {
    padding: 10px;
    margin: 10px auto; 
    width: 90%;
    min-height: 150px;
    
}

.rosita-red {
    background-color: #EB0000;
}

.sunny-yellow {
    background-color: #FFCC00;
}

.lovely-pink {
    background-color: #ffc0cb;
}

.mint-green {
    background-color: #c0ffd5;
}

.baby-blue {
    background-color: #c0ebff;
}

.dutch-orange {
    background-color: #FC6500;
}